body{
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    margin: 0;
    padding: 0;
}

#content{
    background-color: rgba(255, 255, 255, 0.95);
    width: 420px;
    height: 300px;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 10px;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.login-header{
    width: 100%;
    height: 48px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dcdcdc;
}

.login-header img{
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.login-input-box {
    margin-top: 100px;
    width: 100%;
    margin-left: 15px;
    margin-right: auto;
    display: inline-block;
    font-size: 30px;
}